@model _2025contosofuckinyay.Models.Instructor
@{
	ViewData["Title"] = "Õpetaja kustutamine";
}

<h1>Kustuta õpetaja</h1>
<div>
	<h2>
		juhedaja @Html.DisplayFor(model => model.FullName)
	</h2>
	<hr />
	<dl>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.LastName)
		</dt>
		<dt class="col-sm-2">
			@Html.DisplayFor(model => model.LastName)
		</dt>

		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FirstMidName)
		</dt>
		<dt class="col-sm-2">
			@Html.DisplayFor(model => model.FirstMidName)
		</dt>

		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.HireDate)
		</dt>
		<dt class="col-sm-2">
			@Html.DisplayFor(model => model.HireDate)
		</dt>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CourseAssignments)
		</dt>
		<dt class="col-sm-2">
			@Html.DisplayFor(model => model.CourseAssignments)
		</dt>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.OfficeAssignment)
		</dt>
		<dt class="col-sm-2">
			@{
				if (Model.OfficeAssignment != null)
				{
				<dt class="col-sm-2">@Html.DisplayFor(model => model.OfficeAssignment.Location)</dt>

				}
			}
		</dt>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Field)
		</dt>
		<dt class="col-sm-2">
			@Html.DisplayFor(model => model.Field)
		</dt>
	</dl>
	<form asp-action="Delete"> 
		<input type="hidden" asp-for="Id"/>
		<input type="submit" value="Kustuta" class="btn btn-danger"/>
		<a asp-action="Index">Tühista kustutamine</a>
	</form>

</div>
